<ng-template #streamTemplate let-number="streamNumber">
  <div class="stream-container">
    <div class="stream-container__item">Первый стрим: {{ number }}</div>
    <div class="stream-container__item">Второй стрим: {{ number }}</div>
    <div class="stream-container__item">Третий стрим: {{ number }}</div>
  </div>
  <button (click)="onUpdate()">update</button>
</ng-template>

<ng-container
  *ngTemplateOutlet="
    streamTemplate;
    context: { streamNumber: streamNumber$ | async }
  "
></ng-container>
